body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
  cursor: pointer;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  line-height: 1.1;
  font-weight: normal;
  color: white;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}

#colorDisplay {
  font-size: 200%;
}

#message {
  display: inline-block;
  width: 20%;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  color: white;
  background: steelblue;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  color: white;
  background: steelblue;
}

.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  left: 0;
  top: 0;
  border: 1px solid white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: -30s;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  left: 0;
  top: 0;
  background-color: black;
  border: 1px solid white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: -15s;
}

.content:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #c6c6c6;
  opacity: 0.5;
}

.content:hover ~ .cursor2 {
  opacity: 0;
}
